.logo{
	width: 12%;
	float: left;
}

section{
	background-image: url(images/image.jpg);
	background-size: cover;
	background-position: center;
}

.pic{
	background-color:rgb(232, 239, 245);
	
}



.navbar {
	background-color: #987c98;
	overflow: hidden;
}

.navbar a {
	float: left;
	display: block;
	color: white;
	text-align: center;
	padding: 14px 20px;
	text-decoration: none;
}


img{
	padding-right: 20px;
}
.search-bar {
	float: right;
	padding: 10px;
}

.bbb{
	height: 1200px;
	width: 1500px;
}
.pic{
	background-color:rgb(232, 239, 245);
	
}

.bbb1{
	height: 50%;
	width: 100%;
	box-sizing: border-box;
	box-shadow: 10px 10px 25px rgb(199, 199, 247);
	padding-top: 20px;
}

.bbb2{
	
	height: 50%;
	width: 100%;
	box-sizing: border-box;
	box-shadow: 10px 10px 25px rgb(199, 199, 247);
	padding-top: 20px;
}

body{
    background-image: url(images/bg.png);
	background-color: lavenderblush;
}

footer{
	padding-bottom: 20px;
}

.extra{
	color: #9d849d;
}

